<!-- Cabeçalho com o título do projeto -->
<mat-toolbar color="primary" class="header">
  <span class="title">Trabalho Final - Programação WEB </span>
</mat-toolbar>

<!-- Conteúdo da landing page -->

<!-- 
<div class="landing-page-content">
  <h1>Bem-vindo ao Sistema Sala de Aula</h1>
  <p>Um espaço para gerenciar suas aulas e atividades acadêmicas.</p>
  <button mat-raised-button color="accent" routerLink="/login">Vamos Acessar</button>

</div>
-->

<!-- Roteamento para outras páginas -->
<router-outlet></router-outlet>
